<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Hamburger menu button for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Logo or Brand -->
    <a class="navbar-brand d-flex align-items-center" routerLink="/dashboard" routerLinkActive="active"
      aria-current="page">
      <img src="assets/chart-logo.png" alt="Logo" style="width: 30px; margin-left: 30px;">
    </a>

    <!-- Collapsible content for mobile -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto d-flex align-items-center">
        <li class="nav-item d-flex align-items-center">
          <!-- Home icon with text -->
          <a class="nav-link d-flex align-items-center" routerLink="/home" routerLinkActive="active"
            aria-current="page">
            <mat-icon aria-hidden="false" aria-label="Home icon" fontIcon="home"
              style="color: white; margin-right: 30px;"></mat-icon>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fleet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/procurement" routerLinkActive="active" aria-current="page">Statistics</a>
        </li>
      </ul>
    </div>

    <!-- Icons and Profile dropdown on the right -->
    <div class="d-flex align-items-center ms-auto">
      <!-- Notification icon with vertical lines -->
      <a class="nav-link icon-with-lines me-2 text-white" href="#">
        <i class="bi bi-bell"></i>
      </a>

      <!-- Settings icon with vertical lines -->
      <a class="nav-link icon-with-lines me-3 text-white" href="#">
        <i class="bi bi-gear"></i>
      </a>

      <!-- Profile dropdown -->
      <div ngbDropdown class="dropdown d-flex align-items-center" style="margin-right: 20px;">
        <a class="nav-link dropdown-toggle d-flex align-items-center text-white" href="#" id="dropdownAccount"
          ngbDropdownToggle>
          <img src="../../assets/avatar.png" alt="Profile" style="width: 40px; margin-right: 10px;">
          <div class="d-none d-lg-block text-white" style="margin-right: 20px;">
            <div>John Smith</div>
            <small>Accounting</small>
          </div>
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownAccount">
          <button ngbDropdownItem>Light Theme</button>
          <button ngbDropdownItem>Black Theme</button>
          <button ngbDropdownItem>Sign out</button>
        </div>
      </div>
    </div>
  </nav>
</header>