/* Navbar styling */
.navbar {
  background-color: #2c405a !important;
  padding: 0;
  position: relative;
  overflow: hidden;
  z-index: 1030; /* Ensure navbar is on top */
}

/* Sidebar styling for slide-in effect */
.mobile-sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Start hidden off the screen */
  width: 250px;
  height: 100vh;
  transition: left 0.3s ease; /* Slide-in transition */
  z-index: 1050;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  background-color: #2c405a;
}

/* When sidebar is visible */
.mobile-sidebar.show {
  left: 0; /* Slide-in position */
}

/* Adjust navigation item spacing */
.navbar-nav .nav-link {
  color: #f2f2f2;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 10px 0;
  padding: 20px;
}

/* Profile and Logo Styling for Sidebar */
.mobile-sidebar .d-flex {
  background-color: #2c405a;
  border-bottom: 1px solid #3e4a5a;
}

/* Adjust icon and spacing */
.icon-with-lines {
  position: relative;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 0px !important;
}

.icon-with-lines::before,
.icon-with-lines::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0.5px;
  background-color: #52667d;
}

.icon-with-lines::before {
  left: 0;
}

.icon-with-lines::after {
  right: 0;
}

/* Profile image adjustments */
.navbar .rounded-circle {
  width: 40px;
  height: 40px;
}

.dropdown-menu {
  right: 0;
  left: auto;
}

div#mobileSidebar {
  background: #2c405a !important;
}

/* Additional Media Queries for Responsiveness */
@media (min-width: 992px) {
  .mobile-sidebar {
    display: none; /* Hide sidebar on larger screens */
  }
}

@media screen and (max-width: 992px) {
  a.navbar-brand.d-flex.align-items-center {
    display: none !important;
  }
}
