/* Styling the entire sidebar */
.sidebar {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 0;
}

/* Styling the icon column */
.icon-column {
  background-color: #202c3c !important;
  width: 100px; /* Adjust width as needed */
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px !important;
}

.nav-link:hover {
  color: white;
}

.nav-column .nav > .nav-item > .nav {
  margin-left: 10px; /* Adjust indent as needed */
}

/* Optional: Styling the main content */
.content {
  background-color: #f8f9fa;
  min-height: 100vh;
}

.nav-column.flex-grow-1.p-3 {
  background: #f5f5f5;
  color: black;
}

.icon-column .mat-icon {
  font-size: 22px; /* Adjust icon size */
  margin-bottom: 5px; /* Spacing between icon and text */
}

/* Initial state for the dropdown arrow */
.dropdown-arrow {
  transition: transform 0.3s ease; /* Smooth transition for rotation */
}

/* Rotate the arrow when the dropdown is expanded */
.collapse.show + a .dropdown-arrow {
  transform: rotate(180deg); /* Rotate 180 degrees to point up */
}
