
.sidebar {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.icon-column {
  background-color: #202c3c !important;
  width: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px !important;
  padding-right: 20px !important;
}

.plus_icon {
  width: 35px;
  height: 35px;
  border: 2px solid #0b8fe2;
  color: #0b8fe2;
  background-color: transparent;
  padding: 0;
}

.nav-link:hover {
  color: white;
}

.nav-column .nav > .nav-item > .nav {
  margin-left: 10px;
}

.content {
  background-color: #f8f9fa;
  min-height: 100vh;
}

.nav-column.flex-grow-1.p-3 {
  background: #f5f5f5;
  color: black;
}

.icon-column .mat-icon {
  font-size: 22px;
  margin-bottom: 5px;
}

.dropdown-arrow {
  transition: transform 0.3s ease;
}

.collapse.show + a .dropdown-arrow {
  transform: rotate(180deg);
}


.mobile-sidebar {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  height: 100vh;
  transition: left 0.3s ease; 
  z-index: 1050; 
  background-color: #2c405a; 
  display: flex;
  flex-direction: column;
  padding: 0;
}


.mobile-sidebar.show-sidebar {
  left: 0; 
}


@media (max-width: 768px) {
  .col-md-3.d-flex.sidebar.bg-dark {
    display: none !important;
  }
  .Hamburgerside {
    display: none;
  }

  .mobile-sidebar {
    display: flex;
    flex-direction: row; 
    height: 100vh;
    width: 300px; 
    position: fixed;
    left: 0;
    top: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%); 
    z-index: 1050;
  }

  .show-sidebar {
    transform: translateX(0); 
  }

  mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
    font-size: 22px !important;
  }

  .icon-column {
    width: 80px; 
    background-color: #343a40; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .icon-column .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-bottom: 10px; 
  }

  .nav-column {
    flex-grow: 1;
    padding: 15px;
    overflow-y: auto; 
    background-color: white; 
  }

  .nav-column h5 {
    margin: 0;
    padding-left: 15px;
  }

  .nav-column .btn {
    width: 35px;
    height: 35px;
    padding: 0;
  }

  .nav-item .nav-link {
    padding: 10px 15px;
    color: #000;
    display: flex;
    align-items: center;
  }

  .nav-item .nav-link:hover {
    background-color: #e9ecef; 
  }

  .collapse {
    background-color: #fff; 
  }

  hr {
    margin: 0;
    color: rgba(0, 0, 0, 0.2);
  }

  .mat-icon {
    font-size: 18px;
  }
}


@media (min-width: 768px) {
  .mobile-sidebar {
    display: none; 
  }
  .mobileHamburgerside,
  icon-column {
    display: none !important;
  }
}

@media (max-width: 768px) {
  button.btn.btn-sm.rounded-circle.d-flex.align-items-center.justify-content-center {
    width: 29px !important;
    height: 27px !important;
  }
}

button.mobileHamburgerside,
button.Hamburgerside {
  background: transparent;
  border: 0px;
  margin-right: 10px;
}
